# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.


# Ignore folders.
.storage
.cloud
.google.token
custom_components/hacs
custom_components/nodered/
old_storage
www
ssl
hydro_rates


# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
.vscode/settings.json
gbridge config.PNG
hacs.json
.august.conf
home-assistant.log
home-assistant_v2.db
google_calendars.yaml
